/*
CSS Module
Home
*/
.logo-animate {
  animation: grow-shrink infinite 2.5s;
}

@keyframes grow-shrink {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(0.95);
  }
}

.user-picture {
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}

.streamer-block {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.stream-video-player {
  min-height: 100%;
}

.user-profile {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.user-info {
  text-align: left;
}

.user-info > * {
  margin: 10px 0;
}

.user-info h1 {
  font-size: 1.5em;
}

.user-info .view-count > span,
.user-info .stream-info > .title > span,
.user-info .stream-info > .status > span,
.user-info .stream-info > .current-viewers > span {
  font-weight: bold;
}

.user-info .stream-info > .status {
  text-transform: capitalize;
}

.search-error {
  z-indeX: 9998;
  position: fixed;
  top: 60px; left: 100px;
  padding: 15px 25px;

  background: #322f37;
  color: #b8b5c0;

  border: 1px solid rgba(255, 100, 100, 0.125);
  border-radius: 3px;

  transition: all ease-in 0.125s;
  animation: drop-in ease-in-out 0.5s forwards;

  user-select: none;
}

@keyframes drop-in {
  0% {
    top: -10%;
    box-shadow: none;
  }
  50% {
    top: 75px;
  }
  100% {
    top: 60px;
    box-shadow: 0 0 10px rgba(255, 100, 100, 0.7);
  }
}