/*
ArtXperience CSS Module
navfooter
*/
.navfooter-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  min-width: 100%; max-width: 100%;
  min-height: 50px;

  /*background: rgb(40,40,40);*/
  /*border-top: 1px solid rgb(150,150,150);*/
  /*box-shadow: 0 3px 10px rgba(0,0,0,0.025);*/

  transition: all ease-in 0.2s;
}

/*.navfooter-body:hover {
  box-shadow: 0 4px 7px rgba(0,0,0,0.05);
}*/

.navfooter-inner {
  position: relative;
  padding: 0 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-basis: 100%;
  flex-grow: 1;
  max-width: 2560px;
  min-height: 100%;

  /*color: #fff;*/

  transition: all ease-in 0.2s;
}

.navfooter-section {
  margin: 0;

  flex-basis: 100%;
  min-width: 100%; max-width: 100%;
  min-height: 100%; max-height: 100%;

  line-height: 50px;
  vertical-align: middle;

  text-align: right;
}

.navfooter-body .nav-link {
  color: black;
}

.navfooter-body .nav-link:hover {
  background: rgb(230, 230, 230);
}

.navfooter-body .nav-link:active {
  background: rgb(215, 215, 215);
}

.navfooter-body .separator {
  margin: 0;
  width: 95%;

  border: 0.75px solid transparent;
  box-shadow: none;
  transition: all ease-in 0.2s;
}

.navfooter-body:hover .separator {
  border-color: rgba(230, 230, 230, 1.0);
}

.navfooter-body:hover .separator:last-child {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.125);
}