.nav-link {
  display: inline-block;
  padding: 0 10px;

  min-width: 70px;
  /* max/-width: 150px; */
  min-height: calc(100% - 1px);
  max-height: calc(100% - 1px);

  outline: none;
  
  text-decoration: none;
  text-align: center;

  box-sizing: content-box;

  transition: all ease-in-out 0.25s;
  -webkit-transition: all ease-in-out 0.25s;
  -moz-transition: all ease-in-out 0.25s;
  -ms-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;

  user-select: none;
}

.nav-link * {
  box-sizing: content-box;
}

.nav-link:hover,
.nav-link:focus {
  /*Located in NavBar.css for NavBar and NavFooter.css for NavFooter*/
}

.nav-link:active,
.nav-link.active {
  transition: all ease-in-out 0.125s;
  -webkit-transition: all ease-in-out 0.125s;
  -moz-transition: all ease-in-out 0.125s;
  -ms-transition: all ease-in-out 0.125s;
  -o-transition: all ease-in-out 0.125s;
}

.nav-link .container {
  position: relative;

  min-height: 49px;
  max-height: 49px;

  box-sizing: content-box;
}

.nav-link .container.icon {
  padding-left: 35px;
}

.nav-link > .container.icon > .icon {
  position: absolute;
  top: 0; left: 0;

  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;

  flex-basis: 30px;
  min-width: 30px; max-width: 30px;
  min-height: 48px; max-height: 50px;
}

.nav-link > .container.icon > .icon > img {
  display: inline-block;
  width: 30px;
  height: auto;
}