/*
ArtXperience CSS Module
ContentBody
*/
.content-body {
  display: flex;
  flex-direction: column;
  
  position: relative;
  padding-top: 50px;
  min-width: 100%; max-width: 100%;
  min-height: 100%; max-height: 100%;
}
