/*
ArtXperience CSS Module
ContentBlock
*/
.content-block {
  position: relative;

  /*margin: 15px 0;*/

  /*flex-basis: 100%;*/
  /*max-width: 1920px;*/
  /*width: 100%;*/

  background: rgba(255,255,255,0.75);
  /*box-shadow: 0 4px 7px rgba(0,0,0,0.05);*/
  /*border-radius: 2px;*/

  color: #000;

  transition: all ease-in 0.2s;
}

/*.content-block:hover, .content-block:focus {
  background: rgba(255,255,255,1.0);
  /*box-shadow: 0 4px 7px rgba(0,0,0,0.1);*/
/*}*/